:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #f63e2e;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
}

* {
  box-sizing: inherit;
}

html {
  /* 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

.mr8 {
  margin-right: 8px !important;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* Text Style */
.text-color-primary {
  color: var(--primary-color) !important;
}

/* Button style */
.btn {
  min-width: 124px;
  height: 34px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disabled {
  cursor: default;
  background-color: #c3c3c3;
  color: #949494;
}

/* Selection */
.select-input {
  position: relative;
  height: 34px;
  padding: 0 12px;
  min-width: 200px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.select-input__list {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  left: 0;
  background-color: var(--white-color);
  margin: 0;
  list-style: none;
  padding-left: 16px;
  padding-top: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: none;
}

.select-input__list::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  left: 0;
  /* background-color: red; */
  padding: 3px;
}

.select-input__item {
  padding: 6px 0;
}

.select-input__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 4px 0;
}

.select-input__link:hover {
  color: var(--primary-color);
  font-weight: 600;
}
