.header {
  height: 120px;
  background-image: linear-gradient(0, #ff6633, #f63e2e);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-item {
  margin: 0 8px;
  position: relative;
}

.navbar-item,
.navbar-item-link {
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

.navbar-item-link {
  color: var(--white-color);
  padding: 0 4px;
}

.navbar-item:hover,
.navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.navbar-item--strong {
  font-weight: 600;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 15px;
  top: 0px;
  right: -9px;
}

.navbar-item--cursor-text {
  cursor: text;
  color: var(--white-color);
}

.navbar-item--has-qr:hover .qr {
  display: block;
}

/* Header QR Code */
.qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  top: 100%;
  border-radius: 3px;
  padding: 8px;
  margin-top: 12px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.qr-img {
  width: 100%;
}

.qr-apps {
  display: flex;
  justify-content: space-between;
}

/* Lấy đứa đầu tiên */
.qr-download-link:first-child {
  margin-left: 10px;
}

.qr-download-link:last-child {
  margin-right: 10px;
}

.qr-download-img {
  height: 16px;
}

/* Header notification */
.navbar-item--has-notify:hover .notify {
  display: block;
}

.notify {
  position: absolute;
  top: 100%;
  width: 404px;
  background-color: var(--white-color);
  right: 0;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  transform-origin: 90% top;
  animation: headerNotify ease-in 0.3s;
  /* tối ưu chuyển động, khai báo sự thay đổi trong keyframes */
  will-change: opacity, transform;
  display: none;
}

.notify::before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0px;
  border: 50px solid;
  border-color: transparent transparent white transparent;
}

@keyframes headerNotify {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.notify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: default;
}

.notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}

.notify-list {
  padding: 0 0 0 12px;
}

.notify-item {
  padding-bottom: 12px;
  background-color: rgba(238, 75, 43, 0.08);
}

.notify-item:hover {
  background-color: #fff;
}

.notify-link {
  display: flex;
  text-decoration: none;
  width: 100%;
}
.notify-img {
  width: 48px;
  object-fit: contain;
}

.notify-info {
  margin-left: 12px;
  padding: 4px;
}

.notify-info .name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
}

.notify-info .notify-descript {
  display: block;
  font-size: 1.2rem;
  color: var(--black-color);
  margin-top: 8px;
}

.notify-descript {
}

.notify-footer {
}

.notify-footer-btn {
  padding: 8px;
  text-decoration: none;
  color: var(--black-color);
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
}

/* Modal register */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.2s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  /* Di chuyển từ kích thước 70% --> 100% */
  --growth-from: 0.7;
  --growth-to: 1;
  background-color: var(--white-color);
  margin: auto;
  position: relative;
  border-radius: 5px;
  animation: growth linear 0.2s;
}

.modal__inner {
  padding: 16px 32px;
}

.auth-form {
  width: 450px;
}

.auth-from__header {
  display: flex;
  justify-content: space-between;
}

.auth-from__heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.auth-from__switch-btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  align-self: center;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-color: var(--border-color);
  border-radius: 3px;
  outline: none;
  border-width: 1px;
}

.auth-form__input:focus {
  border-color: #555;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__policy-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__socials {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-form__socials a {
  text-decoration: none;
  font-weight: 600;
}

.auth-form__socials-icon-facebook {
  background-color: #3a5a98;
  color: var(--white-color);
  padding: 0 8px;
}

.auth-form__socials-icon-google {
  padding: 0 8px;
  background-color: var(--white-color);
}

.auth-form__socials-icon-facebook i,
.auth-form__socials-icon-google i {
  font-size: 1.8rem;
}

.auth-form__socials-icon-facebook span,
.auth-form__socials-icon-google span {
  padding: 0 24px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 16px;
  margin: 0 16px;
  border-left: 1px solid var(--border-color);
}

/* Search header */
.header-with-search {
  height: 84px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  text-align: center;
}

.logo-img {
  width: 74px;
}

.search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  bottom: 2px solid var(--border-color);
}

.cart {
  width: 150px;
  text-align: center;
}

.cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}
