.app {
  overflow: hidden;
}

.header {
  height: 120px;
  background-image: linear-gradient(0, #ff6633, #f63e2e);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-item {
  margin: 0 8px;
  position: relative;
}

.navbar-item,
.navbar-item-link {
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

.navbar-item-link {
  color: var(--white-color);
  padding-left: 4px;
}

.navbar-item:hover,
.navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.navbar-item--strong {
  font-weight: 600;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 15px;
  top: 0px;
  right: -9px;
}

.navbar-item--cursor-text {
  cursor: text;
  color: var(--white-color);
}

.navbar-item--has-qr:hover .qr {
  display: block;
}

.navbar-user {
  display: flex;
}

.navbar-user:hover .nav-user-menu {
  display: block;
}

.navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #e03e2a;
}

.navbar-user-name {
  margin-left: 8px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.nav-user-menu {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  background: var(--white-color);
  color: var(--text-color);
  z-index: 1;
  text-decoration: none;
  list-style: none;
  padding: 0px 16px;
  width: 160px;
  border-radius: 3px;
  box-shadow: 1px 1px 8px;
}

.nav-user-menu::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 0px;
  border: 20px solid;
  border-color: transparent transparent white transparent;
}

.nav-user-menu::after {
  content: "";
  position: absolute;
  top: -28px;
  right: 0px;
  width: 68%;
  background-color: transparent;
  padding: 20px;
}

.navbar-user-item {
  padding: 12px 0px;
}

.navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-user-item--separate {
  border-top: 0.5px solid rgba(0, 0, 0, 0.4);
}

/* Header QR Code */
.qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  top: 100%;
  border-radius: 3px;
  padding: 8px;
  margin-top: 12px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.qr-img {
  width: 100%;
}

.qr-apps {
  display: flex;
  justify-content: space-between;
}

/* Lấy đứa đầu tiên */
.qr-download-link:first-child {
  margin-left: 10px;
}

.qr-download-link:last-child {
  margin-right: 10px;
}

.qr-download-img {
  height: 16px;
}

/* Header notification */
.navbar-item--has-notify:hover .notify {
  display: block;
}

.notify {
  position: absolute;
  top: 100%;
  width: 404px;
  background-color: var(--white-color);
  right: 0;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  transform-origin: 90% top;
  animation: headerNotify ease-in 0.3s;
  /* tối ưu chuyển động, khai báo sự thay đổi trong keyframes */
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}

.notify::before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0px;
  border: 50px solid;
  border-color: transparent transparent white transparent;
}

@keyframes headerNotify {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.notify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: default;
}

.notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}

.notify-list {
  padding: 0 0 0 12px;
}

.notify-item {
  padding-bottom: 12px;
  background-color: rgba(238, 75, 43, 0.08);
}

.notify-item:hover {
  background-color: #f8f8f8;
}

.notify-link {
  display: flex;
  text-decoration: none;
  width: 100%;
}
.notify-img {
  width: 48px;
  object-fit: contain;
}

.notify-info {
  margin-left: 12px;
  padding: 4px;
}

.notify-info .name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
}

.notify-info .notify-descript {
  display: block;
  font-size: 1.2rem;
  color: var(--black-color);
  margin-top: 8px;
}

.notify-footer-btn {
  padding: 8px;
  text-decoration: none;
  color: var(--black-color);
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
}

/* Modal register */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.2s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  /* Di chuyển từ kích thước 70% --> 100% */
  --growth-from: 0.7;
  --growth-to: 1;
  background-color: var(--white-color);
  margin: auto;
  position: relative;
  border-radius: 5px;
  animation: growth linear 0.2s;
}

.modal__inner {
  padding: 16px 32px;
}

.auth-form {
  width: 450px;
}

.auth-from__header {
  display: flex;
  justify-content: space-between;
}

.auth-from__heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.auth-from__switch-btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  align-self: center;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-color: var(--border-color);
  border-radius: 3px;
  outline: none;
  border-width: 1px;
}

.auth-form__input:focus {
  border-color: #555;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__policy-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__socials {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-form__socials a {
  text-decoration: none;
  font-weight: 600;
}

.auth-form__socials-icon-facebook {
  background-color: #3a5a98;
  color: var(--white-color);
  padding: 0 8px;
}

.auth-form__socials-icon-google {
  padding: 0 8px;
  background-color: var(--white-color);
}

.auth-form__socials-icon-facebook i,
.auth-form__socials-icon-google i {
  font-size: 1.8rem;
}

.auth-form__socials-icon-facebook span,
.auth-form__socials-icon-google span {
  padding: 0 24px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 16px;
  margin: 0 16px;
  border-left: 1px solid var(--border-color);
}

/* Search header */
.header-with-search {
  height: 84px;
  display: flex;
  align-items: center;
}

.mobile-header-btn {
  display: none;
}

.mobile-search {
  margin-left: 16px;
}

.mobile-search-icon {
  font-size: 2.2rem;
  color: var(--white-color);
}

.logo {
  width: 200px;
  text-align: center;
}

.logo-link {
  display: block;
}

.logo-img {
  width: 74px;
}

.search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  bottom: 2px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.search-input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 16px;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.search-input:focus ~ .search-history {
  display: block;
}

.search-checkbox:checked ~ .search {
  display: flex;
}

/* Search history */

.search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #666;
  display: none;
  z-index: 1;
}

.search-history h3 {
  color: #999;
  padding: 0 16px;
}

.search-history-list {
  list-style: none;
  padding-left: 0px;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.search-history-item {
  height: 38px;
  align-items: center;
  display: flex;
}

.search-history-item:hover {
  background-color: #eaeaea;
}

.search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  width: 100%;
  padding: 0 16px;
}

.search-select {
  position: relative;
  cursor: pointer;
}

.search-select:hover .search-option {
  display: block;
}

.select-label {
  font-size: 1.4rem;
  padding-left: 16px;
  border-left: 1px solid #ccc;
}

.select-icon {
  font-size: 1.4rem;
  margin: 0 16px 0px 8px;
  position: relative;
  top: 1px;
}

.search-option {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  list-style: none;
  width: 130px;
  border-radius: 3px;
  padding-left: 0;
  box-shadow: 1px 1px 1px #ccc;
  font-size: 1.2rem;
  display: none;
  animation: fadeIn ease 0.2s;
  z-index: 1;
}

.search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.search-option-item {
  background-color: var(--white-color);
  padding: 8px 12px;
  border-radius: 3px;
}

.search-option-item i {
  color: var(--primary-color);
  padding: 8px;
  font-size: 1.4rem;
  display: none;
}

.search-option-item--active i {
  display: inline-block;
}

.search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  margin: auto;
  border-radius: 3px;
  width: 60px;
  margin: auto 4px;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #fb6446;
}

.cart {
  width: 150px;
  text-align: center;
}

.cart-warp {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cart-warp:hover .cart-list {
  display: block;
}

.cart-icon,
.nav-mobile-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}

.cart-list {
  position: absolute;
  top: calc(100% + 12px);
  right: -8px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 3px;
  box-shadow: 0px 1px 5rem 0px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.3s;
  cursor: default;
  z-index: 1;
}

.cart-heading {
  text-align: left;
  padding-left: 12px;
  font-size: 1.2rem;
  color: #999;
  margin-bottom: 0;
}

.cart-list-item {
  list-style: none;
  padding-left: 0;
  max-height: 50vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.cart-item-info {
  flex: 1;
  padding-right: 12px;
  font-size: 1.2rem;
}

.cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.cart-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.cart-item-multiply {
  font-size: 0.9rem;
  color: #757575;
}

.cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}

.cart-item-body {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.cart-item-remove {
  font-size: 1.4rem;
  font-weight: 500;
}

.cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.cart-review {
  float: right;
  margin: 0 12px 12px 0;
}

.cart-review:hover {
  background-color: #f05d41;
}

.cart-list::before {
  content: "";
  position: absolute;
  top: -28px;
  right: 16px;
  border: 16px solid;
  border-color: transparent transparent white transparent;
  cursor: pointer;
}

.no-cart-label {
  display: none;
  font-size: 1.4rem;
  margin-top: 16px;
  color: var(--text-color);
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: 4px;
  font-size: 1.2rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  padding: 0px 4px;
  border-radius: 50%;
  border: 2px solid #ee4d2d;
}

.cart-list--no-cart {
  padding: 28px 0;
}

.cart-list--no-cart .cart-no-cart-img,
.cart-list--no-cart .no-cart-label {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cart-no-cart-img {
  display: none;
  width: 60%;
  border-radius: 3px;
}

/* App Container */

.app__container {
  background-color: #f5f5f5;
  padding-top: 36px;
}

.category {
  border-radius: 2px;
  background-color: var(--white-color);
}

.category__heading {
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 12px 16px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

.category__heading i {
  padding-right: 4px;
}

.category-list {
  padding-left: 0px;
  list-style: none;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
  font-size: 1.6rem;
  right: -4px;
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  border: 5px solid;
  border-color: transparent transparent transparent var(--primary-color);
  transform: translateY(-50%);
}

.category-item__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 32px;
  display: block;
  position: relative;
  right: 0;
  transition: right linear 0.1s;
  font-weight: 600;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
  font-size: 1.6rem;
}

/* Mobile category */
.mobile-category {
  display: none;
}

.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
  display: none;
}

.mobile-category__item {
  flex-shrink: 0;
  margin: 0 5px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #88cf81;
}

.mobile-category__link {
  --line-height: 2rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  text-align: center;
  width: 110px;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: 5px;
  padding: 2px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

.nav_bars-btn {
  display: none;
  margin-left: 24px;
  font-size: 2.2rem;
  color: #fff;
}

.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .nav_mobile {
  transform: translateX(0%);
  opacity: 1;
}

.nav_mobile-close {
  font-size: 2.2rem;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 22;
  display: none;
  animation: fadeIn linear 0.2s;
}

.nav_mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  z-index: 23;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.3s, opacity linear 0.3s;
}

.nav_mobile-list {
  list-style: none;
  margin-top: 48px;
}

.nav_mobile-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}

.sort-bar {
  position: fixed;
  top: 84px;
  left: 0;
  right: 0;
  height: 36px;
  background-color: var(--white-color);
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.sort-item {
  flex: 1;
}

.sort-item--active .sort-link {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 36px;
  position: relative;
}

.sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}

.sort-item:first-child .sort-link::before {
  display: none;
}

.home-filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 12px 24px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  background-color: var(--white-color);
  border-radius: 5px;
  display: flex;
}

.home-filter__page-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
}

.home-filter__page-btn:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.home-filter__page-btn--disable {
  color: #ccc;
  background-color: #f9f9f9;
  cursor: default;
}

.home-product {
  margin-top: 10px;
}

.product-item {
  display: block;
  position: relative;
  background-color: var(--white-color);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none;
}

.product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

.product-item__img {
  padding-top: 100%;
  background-size: contain;
}

.product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 10px;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__price {
  display: flex;
  margin-left: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-right: 6px;
}

.product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px;
}

.product-item__action-like {
  font-size: 1.4rem;
  cursor: pointer;
}

i.product-item__action-like-icon-fill {
  color: var(--primary-color);
  display: none;
}

.product-item__action-like--liked .product-item__action-like-icon-fill {
  display: inline-block;
}

.product-item__action-like--liked .product-item__action-like-icon-empty {
  display: none;
}

.product-item__action-rating {
  font-size: 1rem;
  color: #ccc;
  margin-left: auto;
}

.product-item__star-gold {
  color: var(--star-gold-color);
}

.product-item__sold {
  margin-left: 4px;
  font-size: 1.2rem;
}

.product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 6px;
}
/* .product-item__brand {
}
.product-item__origin-name {
} */
.product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-right: 4px;
  border-radius: 0 3px 3px 0;
}

.product-item__favourite i {
  font-size: 1rem;
  margin: 0 4px 0 5px;
}

.product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  border-top: 4px solid var(--primary-color);
  border-left: 4px solid transparent;
  /* giảm độ sáng */
  filter: brightness(60%);
}

.product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  min-height: 44px;
  background-color: rgba(255, 216, 64, 0.9);
  text-align: center;
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
  padding-top: 4px;
}

.product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.product-item__sale-off-label {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.pagination-item {
  margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
  opacity: 90%;
}

.pagination-item__link {
  display: block;
  --height: 30px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 2px;
  text-align: center;
}

/* .pagination-item__icon {
} */

.footer {
  padding-top: 12px;
  border-top: 4px solid var(--primary-color);
}

.footer__heading {
  font-size: 1.4rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer__list-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 4px 0;
  display: block;
}

.footer__list-item__link:hover {
  color: var(--primary-color);
}

.footer__list-item-icon {
  font-size: 1.6rem;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
  margin-right: 16px;
}

.footer__download-app-img {
  width: 80px;
}

.footer-bottom {
  padding: 8px 0;
  margin: 0;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
