/* Mobile & Table */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    height: 84px;
  }

  .logo-img {
    width: 55px;
  }

  .cart-list {
    position: fixed;
    top: 84px;
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
  }

  .cart-list::before {
    display: none;
  }

  .cart-item-info {
    padding-right: 0;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .logo {
    width: 80px;
    text-align: left;
  }

  .cart {
    width: 80px;
    text-align: right;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
